<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>

<!--         
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            state="true"
            id="hu.siz.assemblyeditor.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
            </and>
         </enablement>
      </decorator>
   </extension>
-->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%wizardNameAssemblyCategory"
            id="hu.siz.assemblyeditor">
      </category>
      <wizard
            name="%wizardNameAssemblySource"
            icon="icons/assembly.gif"
            category="hu.siz.assemblyeditor"
            class="hu.siz.assemblyeditor.wizards.NewAssemblySourceWizard"
            id="hu.siz.assemblyeditor.wizards.NewAssemblySourceWizard">
      </wizard>
      <wizard
            category="hu.siz.assemblyeditor"
            class="hu.siz.assemblyeditor.wizards.NewAssemblyProjectWizard"
            finalPerspective="hu.siz.assemblyeditor.perspectives.AssemblyPerspective"
            icon="icons/assembly.gif"
            id="hu.siz.assemblyeditor.wizards.NewAssemblyProjectWizard"
            name="%wizardNameAssemblyProject"
            preferredPerspectives="hu.siz.assemblyeditor.perspectives.AssemblyPerspective"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="hu.siz.assemblyeditor.contribution1"
            nameFilter="*.asm"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="%popupMenuGroupName"
               path="additions"
               id="hu.siz.assemblyeditor.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="%popupMenuActionConvertPETSCIItoASCII"
               class="hu.siz.assemblyeditor.popup.actions.ConvertPETSCIItoASCII"
               menubarPath="hu.siz.assemblyeditor.menu1/group1"
               enablesFor="1"
               id="hu.siz.assemblyeditor.action1">
         </action>
         <action
               class="hu.siz.assemblyeditor.popup.actions.ConvertASCIItoPETSCII"
               enablesFor="1"
               id="hu.siz.assemblyeditor.action2"
               label="%popupMenuActionConvertASCIItoPETSCII"
               menubarPath="hu.siz.assemblyeditor.menu1/group1"/>
         <action
               class="hu.siz.assemblyeditor.popup.actions.FormatSource"
               enablesFor="1"
               id="hu.siz.assemblyeditor.action3"
               label="%popupMenuActionFormatSource"
               menubarPath="hu.siz.assemblyeditor.menu1/group1"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="hu.siz.assemblyeditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%viewCategoryAssembly"
            id="hu.siz.assemblyeditor">
      </category>
      <view
            name="%viewNameAssembly"
            icon="icons/assembly.gif"
            category="hu.siz.assemblyeditor"
            class="hu.siz.assemblyeditor.views.AssembyView"
            id="hu.siz.assemblyeditor.views.AssembyView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="hu.siz.assemblyeditor.views.AssembyView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="hu.siz.assemblyeditor.perspectives.AssemblyPerspective"
            icon="icons/assembly.gif"
            id="hu.siz.assemblyeditor.perspectives.AssemblyPerspective"
            name="%perspectiveNameAssembly">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hu.siz.assemblyeditor.editor.assembly.AssemblyEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="asm, inc"
            icon="icons/assembly.gif"
            id="hu.siz.assemblyeditor.editors.AssemblyEditor"
            name="%editorNameAssembly">
      </editor>
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="mdc"
            icon="icons/disk.GIF"
            id="hu.siz.assemblyeditor.MDCEditor"
            name="%editorNameMakeDisk">
      </editor>
      <editor
            class="hu.siz.assemblyeditor.editor.diskimage.DiskImageSourceEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="dis"
            icon="icons/disk.GIF"
            id="hu.siz.assemblyeditor.DiskImageSourceEditor"
            name="%editorNameDiskImageSource">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="hu.siz.assemblyeditor.preferences.AssemblyPreferences"
            id="hu.siz.assemblyeditor.preferences.AssemblyPreferences"
            name="%preferencePageAssembly"/>
      <page
            category="hu.siz.assemblyeditor.preferences.AssemblyPreferences"
            class="hu.siz.assemblyeditor.preferences.AssemblyCompilerPreferences"
            id="hu.siz.assemblyeditor.preferences.AssemblyCompilerPreferences"
            name="%preferencePageAssemblyCompiler">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="%propertyPageAssemblyCompiler"
            nameFilter="*.asm"
            class="hu.siz.assemblyeditor.preferences.AssemblyCompilerPreferences"
            id="hu.siz.assemblyeditor.properties.AssemblyCompilerPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="hu.siz.assemblyeditor.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/assembly.gif"
               class="hu.siz.assemblyeditor.actions.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="hu.siz.assemblyeditor.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="asm"
            id="hu.siz.assemblyeditor.assemblysource"
            name="%contentTypeAssemblySource"
            priority="high"/>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            id="hu.siz.assemblyeditor.makediskconfig"
            name="%contentTypeMakeDiskConfig"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            id="hu.siz.assemblyeditor.assemblyinclude"
            name="%contentTypeAssemblyInclude"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            id="hu.siz.assemblyeditor.diskimagesource"
            name="%contentTypeDiskImageSource"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="hu.siz.assemblyeditor.assemblysource"
            file-extensions="asm"/>
      <file-association
            content-type="hu.siz.assemblyeditor.makediskconfig"
            file-extensions="mdc">
      </file-association>
      <file-association
            content-type="hu.siz.assemblyeditor.assemblyinclude"
            file-extensions="inc">
      </file-association>
      <file-association
            content-type="hu.siz.assemblyeditor.diskimagesource"
            file-extensions="dis">
      </file-association>
   </extension>
   <extension
         id="assemblyBuilder"
         name="%builderNameAssembly"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="hu.siz.assemblyeditor.builder.AssemblyBuilder"/>
      </builder>
   </extension>
   <extension
         id="hu.siz.assemblyeditor.AssemblyMarker"
         name="%problemNameAssembly"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="assemblyNature"
         name="%natureNameAssembly"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="hu.siz.assemblyeditor.builder.AssemblyNature"/>
      </runtime>
      <builder id="hu.siz.assemblyeditor.assemblyBuilder"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/sample.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         id="hu.siz.assemblyeditor.commands"
         name="AssemblyEditor commands"
         point="org.eclipse.ui.commands">
      <category
            description="AssemblyEditor command category"
            id="hu.siz.assemblyeditor.commands.category"
            name="AssemblyEditor command category">
      </category>
      <command
            categoryId="hu.siz.assemblyeditor.commands.category"
            id="hu.siz.assemblyeditor.commands.convertASCIItoPETSCII"
            name="%popupMenuActionConvertASCIItoPETSCII">
            <defaultHandler
                  class="hu.siz.assemblyeditor.actions.SampleAction">
               <parameter
                     name="hu.siz.assemblyeditor.parameter1"
                     value="hu.siz.assemblyeditor.parameter1">
               </parameter>
            </defaultHandler>
      </command>
   </extension>

</plugin>
